{% extends "base.html" %}

{% block custom_css_block %}
<style>
#spammmmer
{
   display: none;
}
</style>
{% endblock %}

{% block body_block %}
<div style="width: 100%; text-align: center">
<h1 style="heading">Impressum</h1>
<p>N<span id="spammmmer">RemoveMe</span>ic<span id="spammmmer">RemoveMe</span>o West<span id="spammmmer">RemoveMe</span>erb<span id="spammmmer">RemoveMe</span>eck</p>
<p>Hein<span id="spammmmer">RemoveMe</span>rich-<span id="spammmmer">RemoveMe</span>Bec<span id="spammmmer">RemoveMe</span>k-Str<span id="spammmmer">RemoveMe</span>aße <span id="spammmmer">RemoveMe</span>5</p>
<p>01<span id="spammmmer">RemoveMe</span>307 Dre<span id="spammmmer">RemoveMe</span>sd<span id="spammmmer">RemoveMe</span>en</p>
<p>Em<span id="spammmmer">RemoveMe</span>ail<span id="spammmmer">RemoveMe</span>: w<span id="spammmmer">RemoveMe</span>este<span id="spammmmer">RemoveMe</span>rbec<span id="spammmmer">RemoveMe</span>k.ni<span id="spammmmer">RemoveMe</span>co@<span id="spammmmer">RemoveMe</span>gma<span id="spammmmer">RemoveMe</span>il.c<span id="spammmmer">RemoveMe</span>om</p>
</div>
{% endblock %}