{% extends "base.html" %}
{% load static %}

{% block brand_block %}Alastair ({% firstof active_project.name 'No Project active' %}){% endblock %}


{% block body_block %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          
          {% if active_page == "projects" %}
            <li class="active"><a href="{% url 'cooking:projects' %}">Overview <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="{% url 'cooking:projects' %}">Overview</a></li>
	      {% endif %}
	      
	      {% if active_project != None %}
			{% if active_page == "meals" %}
				<li class="active"><a href="{% url 'cooking:meals' %}">Meals <span class="sr-only">(current)</span></a></li>
			{% else %}
				<li><a href="{% url 'cooking:meals' %}">Meals</a></li>
			{% endif %}
		 
			{% if active_page == "shoppinglist" %}
				<li class="active"><a href="{% url 'cooking:shoppinglist' %}">Shopping List <span class="sr-only">(current)</span></a></li>
			{% else %}
				<li><a href="{% url 'cooking:shoppinglist' %}">Shopping List</a></li>
			{% endif %}
			
			{% if active_page == "inventory" %}
				<li class="active"><a href="{% url 'cooking:inventory' %}">Inventory <span class="sr-only">(current)</span></a></li>
			{% else %}
				<li><a href="{% url 'cooking:inventory' %}">Inventory</a></li>
			{% endif %}
	      {% endif %}
          </ul>
          <ul class="nav nav-sidebar">
          
          {% if active_page == "receipes" %}
            <li class="active"><a href="{% url 'cooking:receipes' %}">Receipes <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="{% url 'cooking:receipes' %}">Receipes</a></li>
	      {% endif %}
          
          {% if active_page == "ingredients" %}
            <li class="active"><a href="{% url 'cooking:ingredients' %}">Ingredients <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="{% url 'cooking:ingredients' %}">Ingredients</a></li>
	      {% endif %}
	      
	      {% if active_page == "allergens" %}
            <li class="active"><a href="{% url 'cooking:allergens' %}">Allergens <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="{% url 'cooking:allergens' %}">Allergens</a></li>
	      {% endif %}
          
          </ul>
        </div>
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		 {% block bodyform_block %}{% endblock %}
<!--       <h1 class="page-header">Dashboard</h1>

           <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
           </div> -->
           
          {% block bodylisting_block %}<h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="{% static "js/bootstrap-select.js" %}"></script>
    <script>
		$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});
    </script>
    {% block custom_script_block %}{% endblock %}
  </body>
</html>
