{% extends "base_listing.html" %}

{% block bodylisting_block %}<h2 class="sub-header">Shopping List for Receipe "{{ receipe.name }}" in Meal "{{ meal.name }}" </h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Ingredient</th>
			<th>Exact Amount</th>
			<th>Remarks in Ingredient</th>
			<th>Remarks in Receipe</th>
			<th>Price</th>			
		</tr>
		</thead>
		<tbody>
		{% for ing in shopping_list %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td><a href="{% url 'cooking:ingredients' ing.id %}">{{ ing.name }}</a></td>
				
				{% if ing.buying_measurement == 'n' %}
				<td>{{ ing.exact_amount|floatformat }} piece{{ ing.exact_amount|pluralize }}
				{% else %}
				<td>{{ ing.exact_amount|floatformat }}{{ ing.buying_measurement }}
				{% endif %}
				
				{% if ing.calculation_measurement %}
					{% if ing.calculation_measurement == 'n' %}
						({{ ing.exact_calculation_amount|floatformat }} piece{{ ing.exact_calculation_amount|pluralize }})
					{% else %}
						({{ ing.exact_calculation_amount|floatformat }}{{ ing.calculation_measurement }})
					{% endif %}
				{% endif %}
				</td>
				
				<td>{{ ing.remarks}}</td>
				
				<td>{{ ing.mr_remarks }}</td>
				 
				<td>{{ ing.exact_price|floatformat:2 }}€</td>
			</tr>		
		{% endfor %}
		<tr>
			<td>Total</td><td></td>
			<!--<td>exact price {{ total_exact_price|floatformat:2 }}€</td>--><td></td><td></td>
			<td>{{ total_exact_price|floatformat:2 }}€</td>
		</tr>
		</tbody>
	</table>
</div>

{% block instructions_block %}
<h2 class="sub-header">Instructions</h2>
<div class="well">
	{{ receipe.instructions }}
</div>
{% endblock %}
{% endblock %}