{% extends "base_listing.html" %}
{% load crispy_forms_tags %}

{% block bodylisting_block %}
{% for key in form.errors %}
<div class="alert alert-danger">
	Error in Field "{{ key|capfirst }}":
	{{ form.errors|get_item:key }}

</div>

{% endfor %}

<h2 class="sub-header">Ingredients for {{ receipe.name }} ({{ receipe.default_person_count }} pers)</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Price per Person</th>
			<th>Weight per Person</th>
			<th>Remarks</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for rec in receipe_ingredient_list %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td><a href="{% url "cooking:ingredients" rec.ingredient.id %}">{{ rec.ingredient.name }}</a></td>
				
				{% if rec.measurement == 'n' %}
				<td>{{ rec.amount|floatformat }} piece{{ rec.amount|pluralize }}</td>
				{% else %}
				<td>{{ rec.amount|floatformat }}{{ rec.measurement }}</td>
				{% endif %}
				
				<td>{% if rec.price_per_person %}{{ rec.price_per_person|floatformat:2 }}&euro;{% endif %}</td>
				<td>{% if rec.weight_per_person %}{{ rec.weight_per_person|floatformat }} gram {% endif %}</td>
				
				<td>{{ rec.remarks }}</td>
				
				<td><a href="{{ request.path|urlencode }}?remove_receipe_ingredient={{ rec.id }}" class="btn btn-default btn-sm" data-toggle="tooltip" title="Remove ingredient {{ rec.ingredient.name }} from {{ receipe.name }}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span><span class="sr-only">Del</span></a></td>
			</tr>		
		{% endfor %}
		<tr>
			
			{% crispy form %}

		</tr>
		</tbody>
	</table>
</div>

<h2 class="sub-header">Instructions</h2>
<div class="well">
  {{ receipe.instructions|linebreaks }}
</div>

<h2 class="sub-header">Other Information</h2>
<ul>
	{% if receipe.price_per_person %}<li>Price per Person: {{ receipe.price_per_person|floatformat:2 }}&euro;</li>{% endif %}
	{% if receipe.weight_per_person %}<li>Weight per Person: {{ receipe.weight_per_person|floatformat }} gram </li>{% endif %}
	{% if allergen_list %}<li>Allergens:
		<ul>
		{% for allergen in allergen_list %}
			<li>{{ allergen.name }} ({{ allergen.used_in }})</li>
		{% endfor %}
		</ul>
	</li>
	{% else %}
	<li> No allergens in this receipe!</li>
	{% endif %}
</ul>
{% endblock %}
