{% extends "base_listing.html" %}

{% block bodylisting_block %}
<h2 class="sub-header">{% block heading_block %}Shopping List {% if inventory_active %}(Inventory Active){% else %}(Inventory Inactive){% endif %} <a href="{% url 'cooking:shoppinglistcsv' %}" class="btn btn-default btn-sm" data-toggle="tooltip" title="Download as .csv"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span class="sr-only">Download</span></a>{% endblock %}</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Used first</th>
			<th>Ingredient</th>
			<th>Exact Amount</th>
			<th>Effective Amount</th>
			<th>Remarks</th>
			<th>Effective Price</th>			
		</tr>
		</thead>
		<tbody>
		{% for ing in shopping_list %}
			<!-- if ing.exact_amount > 0 -->
				<tr class="{% cycle 'odd' 'even' %}">
					<td>{{ ing.first_occurrence|date:"d.M" }}</td>
					<td><a href="{% url 'cooking:ingredients' ing.id %}" data-toggle="tooltip" title="Price per Unit: {{ ing.price }}&euro; for {% if ing.buying_measurement == 'n' %}{{ ing.buying_quantity|floatformat }} piece{{ ing.buying_quantity|pluralize }}{% else %}{{ ing.buying_quantity|floatformat }}{{ ing.buying_measurement }}{% endif %}{% if ing.calculation_measurement %} or {% if ing.calculation_measurement == 'n' %}{{ ing.calculation_quantity|floatformat }} piece{{ ing.calculation_quantity|pluralize }}{% else %}{{ ing.calculation_quantity|floatformat }}{{ ing.calculation_measurement }}{% endif %}{% endif %}">{{ ing.name }}</a></td>
					
					{% if ing.buying_measurement == 'n' %}
					<td>{{ ing.exact_amount|floatformat }} piece{{ ing.exact_amount|pluralize }}
					{% else %}
					<td>{{ ing.exact_amount|floatformat }}{{ ing.buying_measurement }}
					{% endif %}
					
					{% if ing.calculation_measurement %}
					or
						{% if ing.calculation_measurement == 'n' %}
							{{ ing.exact_calculation_amount|floatformat }} piece{{ ing.exact_calculation_amount|pluralize }}
						{% else %}
							{{ ing.exact_calculation_amount|floatformat }}{{ ing.calculation_measurement }}
						{% endif %}
					
					{% endif %}
					</td>
					
					
					{% if ing.buying_measurement == 'n' %}
					<td>{{ ing.effective_amount|floatformat }} piece{{ ing.effective_amount|pluralize }}
					{% else %}
					<td>{{ ing.effective_amount|floatformat }}{{ ing.buying_measurement }}
					{% endif %}
					
					{% if ing.calculation_measurement %}
					or
						{% if ing.calculation_measurement == 'n' %}
							{{ ing.effective_calculation_amount|floatformat }} piece{{ ing.effective_calculation_amount|pluralize }}
						{% else %}
							{{ ing.effective_calculation_amount|floatformat }}{{ ing.calculation_measurement }}
						{% endif %}
					
					{% endif %}
					
					({{ ing.buying_count|floatformat }} item{{ ing.buying_count|pluralize }})</td>
					
					<td>{{ ing.remarks }}</td>
					
					<td>{{ ing.effective_price|floatformat:2 }}&euro;</td>
				</tr>
			<!-- endif -->
		{% endfor %}
		<tr>
			<td>Total</td><td></td><td></td>
			<!--<td>exact price {{ total_exact_price|floatformat:2 }}€</td>--><td></td><td></td>
			<td>{{ total_effective_price|floatformat:2 }}&euro;</td>
		</tr>
		</tbody>
	</table>
	
	{% if inventory_active %}
	<a href="{{ request.path|urlencode }}?deactivate_inventory" class="btn btn-danger" data-toggle="tooltip" title="Deactivate Inventory to see the full list of ingredients and the total price at the shopping list page">Deactivate Inventory</a>
	{% else %}
	<a href="{{ request.path|urlencode }}?activate_inventory" class="btn btn-success" data-toggle="tooltip" title="Activate Inventory to have the real shopping list and the still to pay prices at the shopping list page">Activate Inventory</a>
	{% endif %}
	
	{% if inventory_active %}
	<a href="{{ request.path|urlencode }}?send_to_inventory" class="btn btn-default" data-toggle="tooltip" title="Send all items on shopping list to Inventory">Send all to Inventory</a>
	{% endif %}
</div>

{% block instructions_block %}{% endblock %}
{% endblock %}
